<!doctype html>
<html>
    <head>
        <title>App Name - </title>
    </head>
    <body>
        <div class="container">
            <h1>hello from bladejs</h1>
            <h2>{{ myVar }}</h2>
                <ul>
                    @for (let i = 0; i < 10; i++)
                        <li>The current value is {{ i }}</li>
                    @endfor
                </ul>
        </div>
    </body>
</html>